.container {
  background: transparent;
  background-color: #121214;
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 4px;

  span {
    color: #e2e2e6;
    font-size: 1.125rem;
    line-height: 1.125rem;
  }

  transition: background-color 0.2s;
  padding: 4px 14px 4px 10px;

  &:hover {
    background-color: #202022;
  }
}
