.container {
  padding: 16px 0;

  display: flex;
  align-items: center;

  > span {
    font-size: 1.25rem;
  }

  > div {
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

    span {
      display: flex;
      align-items: center;
      gap: 2px;
    }
  }

  @media screen and (max-width: 850px) {
    align-items: flex-start;
    flex-direction: column;
    gap: 8px;

    > div {
      width: 100%;
      justify-content: space-between;
    }
  }
}
