.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #202022;
  padding-bottom: 16px;

  .cardTitle {
    h1 {
      margin-bottom: 4px;
      font-size: 1.875rem;
    }

    div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 4px;

      font-size: 1.2rem;
      color: #d2d2d4;
    }
  }

  .cardHP {
    font-size: 0.875rem;

    display: flex;
    align-items: center;
    gap: 8px;

    span > span {
      font-size: 1.5rem;
    }
  }
}
