.cardItemContainer {
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: translateY(-4%);
  }

  border-radius: 10px;

  position: relative;

  background: linear-gradient(145deg, rgba(255,255,255,0.2) 0%, rgba(0,0,0,0) 100%);
}

.Colorless {
  background-color: #E5D6D0;
}
.Darkness {
  background-color: #2C2E2B;
}
.Dragon {
  background-color: #C6A114;
}
.Fairy {
  background-color: #E03A83;
}
.Fighting {
  background-color: #FF501F;
}
.Fire {
  background-color: #E24242;
}
.Grass {
  background-color: #7DB808;
}
.Lightning {
  background-color: #FAB536;
}
.Metal {
  background-color: #8A776E;
}
.Psychic {
  background-color: #A65E9A;
}
.Water {
  background-color: #5BC7E5;
}
