* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: #121214;
  color: #e2e2e6;
}

body,
input,
textarea,
select,
button {
  font: 400 1rem 'Roboto', sans-serif;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}
