.container {
  max-width: 1120px;
  margin: 32px auto;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    background: transparent;
    color: #e2e2e6;

    &:disabled {
      cursor: default;
    }
  }
}
