.setItemContainer {
  width: 100%;
  position: relative;
  padding: 1.5rem 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  border-top: 1px solid #202022;

  &:hover {
    .setInfo {
      strong {
        color: #A32EFF;
      }
    }
  }
}

.leftSideContainer {
  display: flex;
  justify-content: center;
  gap: 1.4rem;

  .setInfo {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    strong {
      font-size: 1.75rem;

      transition: color 0.2s;
    }

    span {
      color: #b4b4b6;
    }
  }
}

.setLogoContainer {
  position: relative;
  height: 4rem;
  width: 12rem;
}

.rightSideContainer {
  span {
    color: #b4b4b6;
    font-weight: 300;
  }
}
