.setItemContainer {
  width: 100%;
  position: relative;
  padding: 24px 12px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  border-top: 1px solid #202022;

  a:last-child > & {
    border-bottom: 1px solid #202022;
  }

  transition: background-color 0.2s;

  &:hover {
    background-color: #202022;

    .setInfo {
      strong {
        color: #8344ca;
      }
    }
  }

  @media (max-width: 800px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    .setLogoContainer {
      display: none;
    }

    .setSymbolContainer {
      display: inline-block;
    }

    .rightSideContainer {
      width: 100%;
    }
  }
}

.leftSideContainer {
  display: flex;
  justify-content: center;
  gap: 1.4rem;

  .setInfo {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;

    strong {
      font-size: 1.75rem;

      transition: color 0.2s;
    }

    span {
      color: #b4b4b6;
    }
  }

  @media (max-width: 800px) {
    .setInfo {
      strong {
        font-size: 1.125rem;
      }
    }
  }
}

.setLogoContainer {
  position: relative;
  height: 4rem;
  width: 12rem;
}

.setSymbolContainer {
  position: relative;
  min-height: 32px;
  min-width: 32px;

  display: none;
}

.rightSideContainer {
  span {
    color: #b4b4b6;
    font-weight: 300;
  }
}
