.stats {
  padding: 16px 8px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  background-color: #202022;
  border-bottom: 1px solid #202022;
  margin: 16px 0 8px;

  .stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    font-size: 1.125rem;

    span:last-child {
      display: flex;
      align-items: center;
      gap: 8px;

      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}

.info {
  display: grid;
  grid-template-columns: 3fr repeat(2, 2fr);
  column-gap: 8px;
  row-gap: 24px;

  padding: 16px 0;

  border-bottom: 1px solid #202022;

  a {
    color: #1f7de7;

    display: flex;
    align-items: center;
    gap: 6px;

    &:hover {
      text-decoration: underline;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span:first-child {
      font-size: 1rem;
      font-weight: 300;
    }

    span:last-child {
      font-size: 1.125rem;
    }
  }

  @media screen and (max-width: 800px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
